@model IEnumerable<Geekon.Models.Tasks>


@if (Model.First().Projects.ArchiveTaskId == Model.First().TaskId)
{
    <li>
        <div class="list-icon-archive-in-proj">
            <i class='bx bx-list-ul'></i>
        </div>
        <div class="text-user-in-proj" style="font-size: 18px">
            Tasks
        </div>
    </li>
    @foreach (var s in Model.First().Subtasks.Distinct())
    {
        <li>
            <div class="text-user-in-proj">
                @s.SubtaskName
            </div>
            <div class="all-icon-archive-in-proj" onclick="SUB_ANARCHIVE(@s.SubtaskId)">
                <i class='bx bxs-archive-out'></i>
            </div>
            <div class="all-icon-archive-in-proj" onclick="DELETE_SUBTASK(@s.SubtaskId)">
                <i class='bx bxs-trash'></i>
            </div>
        </li>

    }
}

<li>
    <div class="list-icon-archive-in-proj">
        <i class='bx bx-list-ul'></i>
    </div>
    <div class="text-user-in-proj" style="font-size: 18px">
        Categories
    </div>
</li>
@foreach (var t in Model.Distinct())
{
    @if (t.Projects.ArchiveTaskId != t.TaskId)
    {
        <li>
            <div class="text-user-in-proj">
                @t.TaskName
            </div>
            <div class="all-icon-archive-in-proj" onclick="TASK_ANARCHIVE(@t.TaskId)">
                <i class='bx bxs-archive-out'></i>
            </div>
            <div class="all-icon-archive-in-proj" onclick="TASK_DELETE(@t.TaskId)">
                <i class='bx bxs-trash'></i>
            </div>
        </li>
    }
}

<script>
    function TASK_DELETE(taskId) {
        if (confirm("Confirm delete?")) {
            $.ajax({
                type: "POST",
                url: "/Tasks/Delete",
                data: {
                    taskId: taskId,
                },
                success: function (res) {
                    $.ajax({
                        type: "GET",
                        url: "/Tasks",
                        data: {
                            projId: @Model.FirstOrDefault().ProjectsProjId,
                        },
                        success: function (res) {
                            $("#placeholderForTasks").html(res);
                            PROJ_STAT(@Model.FirstOrDefault().ProjectsProjId);
                            GET_PROJECT_DETAILS();
                        }
                    })
                }
            })
        }
    }

    function DELETE_SUBTASK(id) {
        if (confirm("Confirm DELETE?")) {
            $.ajax({
                type: "POST",
                url: "/Subtasks/DELETE",
                data: {
                    id: id,
                },
                success: function (res) {
                    $.ajax({
                        type: "GET",
                        url: "/Tasks",
                        data: {
                            projId: @Model.FirstOrDefault().ProjectsProjId,
                        },
                        success: function (res) {
                            $("#editSubtaskPlaceholder").find('.modal').modal('hide');
                            $("#placeholderForTasks").html(res);
                            PROJ_STAT(@Model.FirstOrDefault().ProjectsProjId);
                            GET_PROJECT_DETAILS();
                        }
                    })
                }
            })
        }
    }

</script>
