@model Geekon.Models.Projects

@{
    ViewData["Title"] = "Index";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div id="editSubtaskPlaceholder"></div>

<div style="background: url('/projBack/@Model.ProjImagePath'); background-size: cover; background-repeat: no-repeat;">
    <div class="proj-top-menu">
        <div class="top-menu-cont">
            <div style="display:flex; justify-content:center; align-items:center">
                <div class="top-menu-icon"></div>
                <input id="projNameInput" class="top-menu-name" value="@Model.ProjName" onfocusout="EDIT_PROJ_NAME()" />
            </div>

            <div style="display:flex; justify-content:center; align-items:center">
                <details id="archive-in-proj">
                    <summary id="summary-archive" onclick="GET_PROJECT_DETAILS()">
                        Archive
                        <i class="bx bx-chevron-left"></i>
                    </summary>
                    <ul id="placeholderFORArchive">
                    </ul>
                </details>

                <details id="all-users-in-proj">
                    <summary id="summary-users" onclick="GET_PROJECTUSERS_DETAILS()">
                        Shared Users
                        <i class="bx bx-chevron-left"></i>
                    </summary>
                    <ul id="placeholderForUsers">
                    </ul>
                </details>

                <div class="top-menu-add-user">
                    <div id="user_add_input_cont" class="add-user-input-cont">
                        <div onclick="ADD_USER_OPEN_HIDE_INPUT()" class="user-add-arrow">
                            <i class='bx bx-chevron-right'></i>
                        </div>
                        <input id="inputUser" type="text" value="" class="add-user-input" />
                    </div>
                    <div id="user_add_button" class="add-user-button" onclick="ADD_USER_BUTTON()">
                        <div>ADD USER</div>
                        <div class="add-user-button-icon">
                            <i class='bx bx-user-plus'></i>
                        </div>
                    </div>
                </div>

                <div class="icon-folder-in-proj">
                    <i class='bx bx-folder'></i>
                </div>

            </div>
        </div>
    </div>
    <div id="placeholderForTasks" class="items"></div>
</div>

<script src="~/js/Project.js"></script>
<script>
    $.ajax({
        type: "GET",
        url: "/Tasks",
        data: {
            projId: @Model.ProjectId,
        },
        success: function (res) {
            $("#placeholderForTasks").html(res)
        }
    })

    function TASK_ANARCHIVE(taskId) {
        $.ajax({
            type: "POST",
            url: "/Tasks/AnArchive",
            data: {
                taskId: taskId,
            },
            success: function () {
                GET_PROJECT_DETAILS();
                 $.ajax({
                    type: "GET",
                    url: "/Tasks",
                    data: {
                        projId: @Model.ProjectId,
                     },
                     success: function (res) {
                         $("#placeholderForTasks").html(res);
                    }
                })
            }
        })
    }

    function SUB_ANARCHIVE(subId) {
        $.ajax({
            type: "POST",
            url: "/Subtasks/AnArchive",
            data: {
                subId: subId,
            },
            success: function () {
                GET_PROJECT_DETAILS();
                 $.ajax({
                    type: "GET",
                    url: "/Tasks",
                    data: {
                        projId: @Model.ProjectId,
                     },
                     success: function (res) {
                         $("#placeholderForTasks").html(res);
                    }
                })
            }
        })
    }

    function GET_PROJECT_DETAILS() {
        $.ajax({
            type: "GET",
            url: "/Projects/Details",
            data: {
                projId: @Model.ProjectId,
            },
            success: function (res) {
                $("#placeholderFORArchive").html(res)
            }
        })
    }

    function GET_PROJECTUSERS_DETAILS() {
        $.ajax({
        type: "GET",
        url: "/ProjectUsers/Details",
        data: {
            projId: @Model.ProjectId,
        },
        success: function (res) {
            $("#placeholderForUsers").html(res)
        }
    })
    }

    function EDIT_PROJ_NAME() {
        var projNameInput = document.getElementById('projNameInput');
        $.ajax({
            type: "POST",
            url: "/Projects/EditName",
            data: {
                projId: @Model.ProjectId,
                projName: projNameInput.value,
            },
            success: function (res) {
            },
            error: function () {
            }
        })
    }

    function ADD_USER_OPEN_HIDE_INPUT() {
        var input_user_CONT = document.getElementById('user_add_input_cont');
        var user_add_button = document.getElementById('user_add_button');

        input_user_CONT.classList.toggle('top-menu-input-active');
        user_add_button.classList.toggle('top-menu-button-active');
    }

    function ADD_USER_BUTTON() {
        var input_user = document.getElementById('inputUser');
        var input_user_CONT = document.getElementById('user_add_input_cont');

        if (input_user_CONT.classList.contains('top-menu-input-active')
            && input_user.value != null && input_user.value.trim() != "") {
            $.ajax({
                type: "POST",
                url: "/ProjectUsers/Edit",
                data: {
                    projId: @Model.ProjectId,
                    emails: input_user.value,
                },
                success: function (res) {
                    alert("Sent!");
                    inputUser.value = "";
                },
                error: function (res) {
                    alert("Sent!");
                    inputUser.value = "";
                }
            })
        } else {
            ADD_USER_OPEN_HIDE_INPUT();
        }
    }
</script>