@model IEnumerable<Geekon.Models.Projects>
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims
@using Geekon.Data;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Index";
}

<div id="CreatePlaceHolder"></div>

<div style="padding: 50px;" class="projH1">
    <h1>My projects</h1>
    <div class="projContainer">

        @*CREATE SQUARE*@
        <div id="projAddButton" class="proj projCreate" style="background-color:lightgray; display:flex; justify-content:center; align-items:center;"
             data-toggle="ajax-model" data-target="#addProject" data-url="@Url.Action("Create", "Projects")">
            <i class='bx bxs-plus-circle' style="font-size:97px; color:white;"></i>
        </div>
        @foreach (var p in Model)
        {
            @if (p.CreatorId == _httpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.NameIdentifier).Value && !p.Archive)
            {
                <a class="proj" href="@Url.Action("Index", "Projects", new { id = p.ProjectId })"
                   style="background: url('/projBack/@p.ProjImagePath'); background-size: contain;">
                    <div class="projSlider">
                        <div class="projName">@p.ProjName</div>
                        <div class="projLine"></div>
                        <div class="projCreationDate">@p.DateCreate</div>
                        <div class="projOwnerInfo">
                            <div class="projOwnerPhoto">
                                <i class="bx bx-user"></i>
                            </div>
                            <div>
                                <div class="projOwnerName">@userManager.FindByIdAsync(p.CreatorId).Result.Name</div>
                                <div class="projOwnerEmail">@userManager.FindByIdAsync(p.CreatorId).Result.Email</div>
                            </div>
                        </div>
                    </div>
                    <i class='bx bx-folder projFolder' title="Project Folder"></i>
                </a>
            }
        }
    </div>

    <h1>Shared projects</h1>
    <div class="projContainer">
        @foreach (var p in Model)
        {
            @if (p.CreatorId != _httpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.NameIdentifier).Value && !p.Archive)
            {
                <a class="proj" href="@Url.Action("Index", "Projects", new { id = p.ProjectId })"
                   style="background: url('/projBack/@p.ProjImagePath'); background-size: contain;">
                    <div class="projSlider">
                        <div class="projName">@p.ProjName</div>
                        <div class="projLine"></div>
                        <div class="projCreationDate">@p.DateCreate</div>
                        <div class="projOwnerInfo">
                            <div class="projOwnerPhoto">
                                <i class="bx bx-user"></i>
                            </div>
                            <div>
                                <div class="projOwnerName">@userManager.FindByIdAsync(p.CreatorId).Result.Name</div>
                                <div class="projOwnerEmail">@userManager.FindByIdAsync(p.CreatorId).Result.Email</div>
                            </div>
                        </div>
                    </div>
                    <i class='bx bx-folder projFolder' title="Project Folder"></i>
                </a>
            }
        }
    </div>

    <h1>Archived projects</h1>
    <div class="projContainer">
        @foreach (var p in Model)
        {
            @if (p.Archive)
            {
                <a class="proj"
                   style="background: url('/projBack/@p.ProjImagePath'); background-size: contain;">
                    <div class="projSlider">
                        <div class="projName">@p.ProjName</div>
                        <div class="projLine"></div>
                        <div class="projCreationDate">@p.DateCreate</div>
                        <div class="projOwnerInfo">
                            <div class="projOwnerPhoto">
                                <i class="bx bx-user"></i>
                            </div>
                            <div>
                                <div class="projOwnerName">@userManager.FindByIdAsync(p.CreatorId).Result.Name</div>
                                <div class="projOwnerEmail">@userManager.FindByIdAsync(p.CreatorId).Result.Email</div>
                            </div>
                        </div>
                    </div>
                    <div onclick="PROJ_DELETE(@p.ProjectId)">
                        <i class='bx bxs-trash projFolder' style="left:206px; top:187px;"></i>
                    </div>
                    <div onclick="PROJ_ANARCHIVE(@p.ProjectId)">
                        <i class='bx bxs-archive-out projFolder' style="left:236px; top:187px;"></i>
                    </div>
                    <i class='bx bx-folder projFolder' title="Project Folder"></i>
                </a>
            }
        }
    </div>
</div>
<script>
    function PROJ_ANARCHIVE(projId) {
        $.ajax({
            type: "POST",
            url: "/Projects/AnArchive",
            data: {
                projId: projId,
            },
            success: function (res) {
                window.location = "/Projects/Index/" + projId;
            }
        })
    }

    function PROJ_DELETE(projId) {
        if (confirm("Confirm delete?")) {
            $.ajax({
                type: "POST",
                url: "/Projects/Delete",
                data: {
                    id: projId,
                },
                success: function (res) {
                    location.reload();
                }
            })
        }
    }

</script>