@model IEnumerable<Geekon.Models.Tasks>

@foreach (var task in Model)
{
    <div id="@task.TaskId" class="item" onmousedown="stopProp(event)" ondrop="dropIt(event)" ondragover="allowDrop(event)">
        <div class="item-name-text">
            <input id="taskName{@task.TaskId}" class="taskName" type="text" value="@task.TaskName" onfocusout="EDIT_TASK_SUBMIT(@task.TaskId)" />

            <div id="taskMenu{@task.TaskId}" class="task-menu">
                <div title="Archive"><i class='bx bxs-archive-in' onclick="TASK_MENU_ARCHIVE(@task.TaskId)"></i></div>
                <div title="Delete"><i class='bx bxs-trash'  onclick="TASK_MENU_DELETE(@task.TaskId)"></i></div>
            </div>
            <div class="item-options-lines" onclick="TASK_MENU_OPEN_CLOSE(@task.TaskId)">
                <i class='bx bx-menu lines' id="btn"></i>
            </div>
        </div>
        <div class="sub-item-container" id="container{@task.TaskId}">
            @foreach (var sub in task.Subtasks.Distinct())
            {
                <div id="s{@sub.SubtaskId" class="sub-item" draggable="true" ondragstart="dragStart(event)" onclick="OPEN_MODAL_SUBTASK_EDIT(@sub.SubtaskId)">
                    <div class="sub-item-header">
                        <div class="sub-item-name">@sub.SubtaskName</div>
                        <div class="sub-item-date">@sub.Date</div>
                    </div>
                    <div class="sub-item-progress">
                        @if (sub.Status == Geekon.Models.TaskStatus.ToDo)
                        {<i class='bx bx-square'></i>}
                        @if (sub.Status == Geekon.Models.TaskStatus.Finished)
                        {<i class='bx bx-check-square'></i>}
                        @if (sub.Status == Geekon.Models.TaskStatus.InProgress)
                        {<i class='bx bxs-hourglass'></i>}
                        @if (sub.Status == Geekon.Models.TaskStatus.Bugs)
                        {<i class='bx bx-bug'></i>}
                    </div>
                </div>
            }

            @*SUBTASK ADD SQUARE*@
            <div class="sub-item sub-item-create" id="add{@task.TaskId}" onclick="POST_CREATE_SUBTASK(@task.TaskId, @ViewBag.projId)">
                <i class='bx bx-plus'></i>
                <div>Add new task</div>
            </div>

        </div>
    </div>
}

@*TASK ADD SQUARE*@
<a class="item-create" onclick="POST_CREATE_TASK(@ViewBag.projId)" onmousedown="stopProp(event)">
    <div class="item-create-content">
        <i class='bx bx-plus'></i>
        <div>Add new category</div>
    </div>
</a>

<script>

    function allowDrop(ev) {
        ev.preventDefault();
    }
    function dragStart(ev) {
        ev.dataTransfer.setData("text/plain", ev.target.id);
    }
    function dropIt(ev) {
        ev.preventDefault();
        let sourceId = ev.dataTransfer.getData("text/plain");
        let sourceIdEl = document.getElementById(sourceId);
        let sourceIdParentEl = sourceIdEl.parentElement.parentElement;
        let targetEl = document.getElementById(ev.target.id)
        let targetParentEl = targetEl.parentElement;
        if (targetParentEl.id.includes("add{") || targetParentEl.id.includes("container")) {
            targetParentEl = targetParentEl.parentElement;
        }

        if (targetParentEl.id !== sourceIdParentEl.id) {
            if (targetParentEl.className === sourceIdParentEl.className) {
                $.ajax({
                type: "POST",
                url: "/Subtasks/TaskIdEdit",
                data: {
                    taskId: targetParentEl.id,
                    subId: sourceIdEl.id.replace("s{", "")
                },
                success: function (res) {
                    $.ajax({
                        type: "GET",
                        url: "/Tasks",
                        data: {
                            projId: @ViewBag.projId,
                        },
                        success: function (res) {
                            $("#placeholderForTasks").html(res);
                        }
                    })
                }
            })
            }
        }
    }

    function stopProp(event) {
        event.stopPropagation();
    }

    function TASK_MENU_DELETE(taskId) {
        if (confirm("Confirm delete?")) {
            $.ajax({
                type: "POST",
                url: "/Tasks/Delete",
                data: {
                    taskId: taskId,
                },
                success: function (res) {
                    $.ajax({
                        type: "GET",
                        url: "/Tasks",
                        data: {
                            projId: @ViewBag.projId,
                        },
                        success: function (res) {
                            $("#placeholderForTasks").html(res);
                            PROJ_STAT(@ViewBag.projId);
                        }
                    })
                }
            })
        }
    }

    function TASK_MENU_ARCHIVE(taskId) {
        $.ajax({
            type: "POST",
            url: "/Tasks/Archive",
            data: {
                taskId: taskId,
            },
            success: function (res) {
                $.ajax({
                    type: "GET",
                    url: "/Tasks",
                    data: {
                        projId: @ViewBag.projId,
                    },
                    success: function (res) {
                        $("#placeholderForTasks").html(res);
                        PROJ_STAT(@ViewBag.projId);
                    }
                })
            }
        })
    }

    function TASK_MENU_OPEN_CLOSE(taskId) {
        var task = document.getElementById("taskMenu{" + taskId + "}");

        task.classList.toggle('task-menu-active');
    }

    function EDIT_TASK_SUBMIT(taskId) {
        var taskName = document.getElementById("taskName{" + taskId+"}").value;
        $.ajax({
            type: "POST",
            url: "/Tasks/Edit",
            data: {
                taskId: taskId,
                taskName: taskName,
            },
            success: function (res) {
                $.ajax({
                    type: "GET",
                    url: "/Tasks",
                    data: {
                        projId: @ViewBag.projId,
                    },
                    success: function (res) {
                        $("#placeholderForTasks").html(res);
                    }
                })
            }
        })
    }

    function SUBMIT_MODAL_SUBTASK_EDIT(event) {
        event.preventDefault();
        var data = $("#edit-subtask-form").serialize();
        $.ajax({
            type: "POST",
            url: "/Subtasks/Edit",
            data: data,
            success: function (res) {
                $("#editSubtaskPlaceholder").find('.modal').modal('hide');
                $("#editSubtaskPlaceholder").html(res);
                $("#editSubtaskPlaceholder").find('.modal').modal('show');
                $.ajax({
                    type: "GET",
                    url: "/Tasks",
                    data: {
                        projId: @ViewBag.projId,
                    },
                    success: function (res) {
                        $("#placeholderForTasks").html(res);
                        PROJ_STAT(@ViewBag.projId);
                    }
                })
            }
        })
    }

    function DELETE_SUBTASK(id) {
        if (confirm("Confirm DELETE?")) {
            $.ajax({
                type: "POST",
                url: "/Subtasks/DELETE",
                data: {
                    id: id,
                },
                success: function (res) {
                    $.ajax({
                        type: "GET",
                        url: "/Tasks",
                        data: {
                            projId: @ViewBag.projId,
                        },
                        success: function (res) {
                            $("#editSubtaskPlaceholder").find('.modal').modal('hide');
                            $("#placeholderForTasks").html(res);
                            PROJ_STAT(@ViewBag.projId);
                        }
                    })
                }
            })
        }
    }

    function OPEN_MODAL_SUBTASK_EDIT(id) {
        $('#editSubtaskPlaceholder').appendTo("body");
        $.ajax({
            type: "GET",
            url: "/Subtasks/Edit",
            data: {
                id: id,
            },
            success: function (res) {
                $("#editSubtaskPlaceholder").html(res);
                $("#editSubtaskPlaceholder").find('.modal').modal('show');
            }
        })
    }

    function POST_CREATE_SUBTASK(taskId, projId) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Create", "Subtasks")',
            data: {
                taskId: taskId,
            },
            success: function () {
                $.ajax({
                    type: "GET",
                    url: "/Tasks",
                    data: {
                        projId: projId,
                    },
                    success: function (res) {
                        $("#placeholderForTasks").html(res);
                        PROJ_STAT(@ViewBag.projId);
                    }
                })
            }
        })
    }

    function POST_CREATE_TASK(projId) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Create", "Tasks")',
            data: {
                projId: projId,
            },
            success: function () {
                $.ajax({
                    type: "GET",
                    url: "/Tasks",
                    data: {
                        projId: projId,
                    },
                    success: function (res) {
                        $("#placeholderForTasks").html(res);
                        PROJ_STAT(@ViewBag.projId);
                    }
                })
            }
        })
    }

    var sub_item_progress = document.getElementsByClassName('sub-item-progress');
    [].forEach.call(sub_item_progress, function (el) {
        el.addEventListener('mouseover', function (e) {
            let firstChild = el.children[0];
            firstChild.classList.toggle('bx-tada');
        })
    });

    [].forEach.call(sub_item_progress, function (el) {
        el.addEventListener('mouseout', function (e) {
            let firstChild = el.children[0];
            firstChild.classList.toggle('bx-tada');
        })
    });
</script>